.provider-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
  }
  .provider-container h3 {
    flex: 1;
    min-width: 150px; 
    text-align: center; 
    margin: 10px; 
    padding: 10px; 
    border: 1px solid #000; 
  }
  